
<div class="display">
  <div class="row" *ngFor="let row of sudoku.cells; index as rowI"
       >

    <div class="cell" *ngFor="let cell of row; index as colI"
         [class.top]="rowI % 3 == 0"
         [class.bot]="rowI % 3 == 2"
         [class.left]="colI % 3 == 0"
         [class.right]="colI % 3 == 2"
         [class.active]= cell.isActive
         [class.highlightLight] = cell.highlightLight
         [class.highlightHard] = cell.highlightHard
         [class.writeable] = !cell.readonly
         (click)="onClick(cell, rowI, colI)" >

      <div class="value">{{cell.value}}</div>
    </div>
  </div>
</div>

<div class="center">
  <button (click)="this.solve()"> Solve </button>
  <button (click)="this.newSudoku()"> New Sudoku </button>
</div>
