

  <div class="temp flex">
    <div class="side">
      <img class="rounded-circle" src="assets/images/pb.jpg">

    </div>
    <div>

      <h1 class="header">Über mich</h1>
      <div class="about">
        <hr/>

        <p>Mein Name ist Fabian Weber.</p>
        <p>Mein Bachelor Studium habe ich 2022 in <b>Software Engineering</b> an der <app-underline class="link"><a class="link" target="_blank" href="https://www.hs-heilbronn.de/de">Hochschule Heilbronn</a> </app-underline> erfolgreich abgeschlossen.</p>
        <p>Derzeit studiere ich Informatik (Master) an der <app-underline class="link"><a class="link" target="_blank" href="https://www.fh-zwickau.de/">Westsächsischen Hochschule Zwickau </a></app-underline>.</p>
        <hr/>
        <p>Bei Fragen, Anregungen oder Vorschläge freue ich mich über Ihre <app-underline class="link" ><a class="link" href="mailto:fabiastisch@gmail.com">Email</a></app-underline>.</p>
      </div>

    </div>

  </div>

