

  <div class="temp flex">
    <div class="side">
      <img class="rounded-circle" src="assets/images/pb.jpg">

    </div>
    <div>

      <h1 class="header">Über mich</h1>
      <div class="about">
        <hr/>

        <p>Mein Name ist Fabian Weber.</p>
        <p>Derzeit entwickle ich diese Website.</p>
        <p>Bei Fragen, Anregungen oder Vorschläge freue ich mich über Ihre <app-underline class="link" ><a class="link" href="mailto:fabiastisch@gmail.com">Email</a></app-underline>.</p>
      </div>

    </div>

  </div>

