<div class="temp flex">
  <div class="side">
    <img class="rounded-circle" src="../../../assets/images/pb.jpg">

  </div>
  <div>

    <h1 class="header">Über mich</h1>
    <div class="about">
      <hr/>

      <p>Mein Name ist Fabian Weber.</p>
      <p>Mein Bachelor Studium habe ich 2022 in <b>Software Engineering</b> an der
        <app-underline class="link"><a class="link" target="_blank" href="https://www.hs-heilbronn.de/de">Hochschule
          Heilbronn</a></app-underline>
        erfolgreich abgeschlossen.
      </p>
      <p>Derzeit studiere ich Informatik (Master) an der
        <app-underline class="link"><a class="link" target="_blank" href="https://www.fh-zwickau.de/">Westsächsischen
          Hochschule Zwickau </a></app-underline>
        .
      </p>
      <hr/>
      <p>Bei Fragen, Anregungen oder Vorschläge freue ich mich über Ihre
        <app-underline class="link"><a class="link" href="mailto:fabiastisch@gmail.com">Email</a></app-underline>
        .
      </p>
    </div>
    <hr/>
    <h2 class="">Socials</h2>
    <div class="about">
      <a class="icon" target="_blank" href="https://www.linkedin.com/in/fabian-weber-300605190/">
        <app-svg>
          <svg height="100%" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
               version="1.1" viewBox="0 0 512 512" width="100%" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
               xmlns:serif="http://www.serif.com/" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="g5891"><path d="M512,64c0,-35.323 -28.677,-64 -64,-64l-384,0c-35.323,0 -64,28.677 -64,64l0,384c0,35.323 28.677,64 64,64l384,0c35.323,0 64,-28.677 64,-64l0,-384Z" id="background" style="fill:#2867b2;"/><g
            id="shapes"><rect height="257.962" id="rect11" style="fill:#fff;" width="85.76" x="61.053" y="178.667"/>
            <path
              d="M104.512,54.28c-29.341,0 -48.512,19.29 -48.512,44.573c0,24.752 18.588,44.574 47.377,44.574l0.554,0c29.903,0 48.516,-19.822 48.516,-44.574c-0.555,-25.283 -18.611,-44.573 -47.935,-44.573Z"
              id="path13-0" style="fill:#fff;fill-rule:nonzero;"/>
            <path
              d="M357.278,172.601c-45.49,0 -65.866,25.017 -77.276,42.589l0,-36.523l-85.738,0c1.137,24.197 0,257.961 0,257.961l85.737,0l0,-144.064c0,-7.711 0.554,-15.42 2.827,-20.931c6.188,-15.4 20.305,-31.352 43.993,-31.352c31.012,0 43.436,23.664 43.436,58.327l0,138.02l85.741,0l0,-147.93c0,-79.237 -42.305,-116.097 -98.72,-116.097Z"
              id="path15" style="fill:#fff;fill-rule:nonzero;"/></g></g></svg>
        </app-svg>
      </a>

      <a class="icon" href="https://github.com/fabiastisch" target="_blank">
        <app-svg>
          <svg class="bi bi-github" fill="currentColor" height="100%" viewBox="0 0 16 16" width="100%"
               xmlns="http://www.w3.org/2000/svg">
            <path
              d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
          </svg>
        </app-svg>
      </a>

    </div>

  </div>

</div>

