
:host{
  background-color: var(--background-color);
  color: var(--main-color);
}
.btn-outline-dark{
  background-color: var(--background-color);
  color: var(--main-color);
  border-color: var(--main-color);
}

.btn-outline-dark:hover{
  color: var(--background-color);
  background-color: var(--main-color);
  border-color: var(--background-color);
}
