/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css';

.flex-vertical-center {
  align-items: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center
}

.flex-horizontal-center {
  justify-content: center;
}

.center {
  text-align: center;
}


body.light{
  --main-color : #090909;
  --background-color : #dddddd;

  --activeColor: #5050ff;
  --highlightLightColor: #c0c0c0;
  --highlightSameCells: #8282ff;
  --correctColor: #164900;
  --wrongColor: #860000;
  --readOnlyColor: #000000;

  background-color: var(--background-color);
  color: var(--main-color);



}
body.dark{
  --main-color : white;
  --background-color : #222222;

  --activeColor: #4e9ae5;
  --highlightLightColor: #4d4d4d;
  --highlightSameCells: #8ceeee;
  --correctColor: #1bef00;
  --wrongColor: #ff0000;
  --readOnlyColor: #c7c7c7;

  background-color: var(--background-color);
  color: var(--main-color);

}

