$activeColor: #4e9ae5;
$highlightLightColor: #4d4d4d;
$highlightSameCells: #8ceeee;
$correctColor: #1bef00;
$wrongColor: #ff0000;
$readOnlyColor: #c7c7c7;
*{
  color: var(--main-color);
}

.display{
  margin: 0;
  width: 50vmin;
  height: 50vmin;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--main-color);
  /*justify-content: center;
  align-items: center;*/
}

.row{
  flex: 1;
  display: flex;
  justify-self: center;
  margin: 0;
}
.cell{
  cursor: pointer;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px solid var(--main-color);
  &.top{
    border-top: 2px solid var(--main-color);
  }
  &.left{
    border-left: 2px solid var(--main-color);
  }
  &.right{
    border-right: 2px solid var(--main-color);
  }
  &.bot{
    border-bottom: 2px solid var(--main-color);
  }
  &.active{
    background: $activeColor;
    //font-size: larger;
  }
  &.highlightLight{
    background: $highlightLightColor;
  }
  &.highlightHard{
    background: $highlightSameCells;
  }
  &.readonly >div{
    color: $readOnlyColor;
  }
/*  &.correct >div{
    color: $correctColor;
  }
  &.false >div{
    color: $wrongColor;
  }*/

}



.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
