$activeColor: #4e9ae5;
$highlightLightColor: #c7c8c4;
$highlightHardColor: #969793;
.flex-vertical-center { align-items: center; }
.flex { display: flex; align-items: center; justify-content: center } .flex-horizontal-center { justify-content: center; }
.display{
  margin: 0;
  width: 50vmin;
  height: 50vmin;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  /*justify-content: center;
  align-items: center;*/
}
.f{
  margin: 0;
  width: 50vmin;
  height: 50vmin;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}

.row{
  flex: 1;
  display: flex;
  justify-self: center;
  margin: 0;
}
.cell{
  cursor: pointer;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px solid black;
  &.top{
    border-top: 2px solid black;
  }
  &.left{
    border-left: 2px solid black;
  }
  &.right{
    border-right: 2px solid black;
  }
  &.bot{
    border-bottom: 2px solid black;
  }
  &.active{
    background: $activeColor;
    //font-size: larger;
  }
  &.highlightLight{
    background: $highlightLightColor;
    background: #c7c8c4;
  }
  &.highlightHard{
    background: $highlightHardColor;
  }
  &.writeable{
    color: darkblue;
  }
  &.correct{
    color: #024802;
  }
  &.false{
    color: #770202;
  }

}
.value{
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.5em;
}

.center{
  text-align: center;
}


.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
